<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Stargaze - Acceso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <main class="container">

        <h1>Bienvenido a Stargaze</h1>

        <section class="auth-container">

            <article class="auth-box">

                <h2>Registro</h2>
                
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                        {% for message in messages %}<p class="error-msg">{{ message }}</p>{% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="/register" method="POST">

                    <div class="form-group"><label>Nombre</label>
                        <input type="text" name="first_name"></div>
                    <div class="form-group"><label>Apellido</label>
                        <input type="text" name="last_name"></div>
                    <div class="form-group"><label>E-mail</label>
                        <input type="email" name="email"></div>
                    <div class="form-group"><label>Contraseña</label>
                        <input type="password" name="password"></div>
                    <div class="form-group"><label>Conf. Contraseña</label>
                        <input type="password" name="confirm_password"></div>

                    <button type="submit" class="btn">Registrar</button>

                </form>

            </article>

            <article class="auth-box">

                <h2>Inicio de Sesión</h2>

                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        {% for message in messages %}<p class="error-msg">{{ message }}</p>{% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="/login" method="POST">
                    
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" name="email">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" name="password">
                    </div>
                    <button type="submit" class="btn">Iniciar Sesión</button>

                </form>

            </article>

        </section>

    </main>

</body>

</html>